<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skypro - 503</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
    {% include 'gtm_head.html' %}
    {% include 'metrica.html' %}
</head>
<body>
{% include 'gtm_body.html' %}
<div class="container">
    <header>
        <img src="{{ url_for('data', path="images/skypro.png") }}" alt="" class="logo">
    </header>
    <main>
        <div class="image-container">
            <div class="image-wrapper">
                <img src="{{ url_for('data', path="images/star.png") }}" alt="" class="star">
            </div>
            <div class="image-wrapper">
                <img src="{{ url_for('data', path="images/skypro_fox.png") }}" alt="" class="skypro-fox">
            </div>
            <div class="left_num">5</div>
            <div class="right_num">3</div>
        </div>
        <h1 class="top-h1">ЧТО-ТО ПОШЛО НЕ ТАК</h1>
        <p style="font-size: 1.2rem">Похоже мы не получили какие-то данные. Попробуйте ещё раз</p>
        <form action="{{ url_for('dashboard') }}" method="get">
            <button type="submit" class="lk-button">Вернуться в ЛК</button>
        </form>
    </main>
</div>
</body>
</html>