{% if meme_stats %}
    <div class="stats-container">
        <p class="meme-header">ФАН-ФАКТЫ:</p>
        <p class="meme-label">ЭТО БЫЛО НЕПРОСТО, НО<br>ХОРОШЕГО БЫЛО БОЛЬШЕ</p>
        {% for image, meme in meme_stats.items() %}
            <div class="meme-fact">
                <img src="{{ url_for('data', path='images/memes/' ~ image ~ '.png') }}" alt="{{ image }}"
                     class="meme-image">
                <div class="meme-chat">
                    <p class="meme-question">{{ meme.question }}</p>
                    <p class="meme-answer">{{ meme.answer }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}