<!-- Yandex Metrika -->
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        for (var j = 0; j < document.scripts.length; j++) {
            if (document.scripts[j].src === r) {
                return;
            }
        }
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(97943495, "init", {clickmap: true, trackLinks: true, accurateTrackBounce: true, webvisor: true});

    document.addEventListener('DOMContentLoaded', function () {
        function safeAddEventListener(id, event, callback) {
            const element = document.getElementById(id);
            if (element) {
                element.addEventListener(event, callback);
            }
        }

        function createInputHandler(goalName) {
            let eventSent = false;
            return function () {
                const inputValue = this.value.trim();
                if (inputValue !== '' && !eventSent) {
                    ym(97943495, 'reachGoal', goalName);
                    eventSent = true;
                } else if (inputValue === '' && eventSent) {
                    eventSent = false;
                }
            };
        }

        safeAddEventListener('learn-how-summary', 'click', () => ym(97943495, 'reachGoal', 'stats_expand_learn_how'));
        safeAddEventListener('sharing-options', 'click', () => ym(97943495, 'reachGoal', 'stats_expand_sharing_options'));
        safeAddEventListener('send-link', 'click', () => ym(97943495, 'reachGoal', 'stats_send_link'));
        safeAddEventListener('expand-skypro', 'click', () => ym(97943495, 'reachGoal', 'guest_expand_skypro'));
        safeAddEventListener('send-phone', 'click', () => ym(97943495, 'reachGoal', 'guest_order_kk'));

        safeAddEventListener('type-link', 'change', createInputHandler('stats_type_link'));
        safeAddEventListener('phoneNumber', 'change', createInputHandler('guest_type_phone'));

        ['type-link', 'phoneNumber'].forEach(id => {
            safeAddEventListener(id, 'focus', function () {
                if (this.value.trim() === '') {
                    this.dataset.eventSent = 'false';
                }
            });
        });
    });
</script>
<!-- Yandex Metrika -->