<!-- Yandex Metrika -->
<script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
            (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        for (var j = 0; j < document.scripts.length; j++) {
            if (document.scripts[j].src === r) {
                return;
            }
        }
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
    ym(97943495, "init", {clickmap: true, trackLinks: true, accurateTrackBounce: true, webvisor: true});

    document.addEventListener('DOMContentLoaded', function () {
        const learnHowSummary = document.getElementById('learn-how-summary');
        const sharingOptions = document.getElementById('sharing-options');
        const typeLink = document.getElementById('type-link');
        const sendLink = document.getElementById('send-link');
        const expandSkypro = document.getElementById('expand-skypro');
        const typePhone = document.getElementById('phoneNumber');
        const sendPhone = document.getElementById('send-phone');

        if (learnHowSummary) {
            learnHowSummary.addEventListener('click', function () {
                ym(97943495, 'reachGoal', 'stats_expand_learn_how');
            });
        }

        if (sharingOptions) {
            sharingOptions.addEventListener('click', function () {
                ym(97943495, 'reachGoal', 'stats_expand_sharing_options');
            });
        }

        let eventSentLink = false;

        if (typeLink) {
            typeLink.addEventListener('change', function () {
                const inputValue = this.value.trim();

                if (inputValue !== '' && !eventSentLink) {
                    ym(97943495, 'reachGoal', 'stats_type_link');
                    eventSentLink = true;
                } else if (inputValue === '' && eventSentLink) {
                    eventSentLink = false;
                }
            });

            typeLink.addEventListener('focus', function () {
                if (this.value.trim() === '') {
                    eventSentLink = false;
                }
            });
        }

        if (sendLink) {
            sendLink.addEventListener('click', function () {
                ym(97943495, 'reachGoal', 'stats_send_link');
            });
        }

        if (expandSkypro) {
            expandSkypro.addEventListener('click', function () {
                ym(97943495, 'reachGoal', 'guest_expand_skypro');
            });
        }

        let eventSentPhone = false;

        if (typePhone) {
            typePhone.addEventListener('change', function () {
                const inputValue = this.value.trim();

                if (inputValue !== '' && !eventSentPhone) {
                    ym(97943495, 'reachGoal', 'guest_type_phone');
                    eventSentPhone = true;
                } else if (inputValue === '' && eventSentPhone) {
                    eventSentPhone = false;
                }
            });

            typeLink.addEventListener('focus', function () {
                if (this.value.trim() === '') {
                    eventSentPhone = false;
                }
            });
        }

        if (sendPhone) {
            sendPhone.addEventListener('click', function () {
                ym(97943495, 'reachGoal', 'guest_send_phone');
            });
        }
    });
</script>
<!-- Yandex Metrika -->