<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Стиль обучения {{ student_id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/intlTelInput.css') }}">
    {% include 'gtm_head.html' %}
    {% include 'metrica.html' %}
</head>
<body>
{% include 'gtm_body.html' %}
<div class="container">
    {#    <div class="header">#}
    {#        <div>#}
    {#            <img src="{{ url_for('data', path="images/skypro.png") }}" alt="" class="logo-header">#}
    {#        </div>#}
    {#        <div class="name">{{ first_name }} {{ last_name[:1] }}.</div>#}
    {#    </div>#}
    <header>
        <img src="{{ url_for('data', path="images/skypro.png") }}" alt="" class="logo">
    </header>
    <main>
        <div class="achievement-ref">
            <img class="achievement-ref-logo" src="{{ url_for('data', path=achievement_logo) }}" alt="">
        </div>
        <h1 id="top-h1" class="top-h1">{{ first_name.upper() }} {{ last_name.upper() }}</h1>
        <p class="text-percents"><strong>{{ profession }}</strong><br>уже на
            <strong>{{ percent_of_lessons_completed }}%</strong></p>
        <p class="description-down">Аналитик смотрит на цифры и помогает бизнесу принимать быстрые и правильные решения.<br>Средняя
            ЗП в России: 120 000.<br>Вакансий в этом году: 18500.</p>
        {% if "нет навыков" not in skills[0] %}
            <div class="stats-container">
                <p class="stats-header">{{ first_name }} учится в Skypro<br>и уже умеет:</p>
                <ul style="text-align: left;">
                    {% for skill in skills %}
                        <li style="font-size: 18px; color: white">✅ {{ skill }}</li>
                        {#                        <img src="{{ url_for('data', path="images/arrow.png") }}" alt=""> {{ skill }}#}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <details>
            <summary class="what-is-skypro" id="expand-skypro">Что такое Skypro?</summary>
            <div class="what-is-text">
                <p>Обучение IT-профессиям с нуля с гарантией новой работы.</p>
                <p>✅ 95% выпускников находят новую работу</p>
                <p>✅ 72 000 ₽ средняя зарплата выпускника Skypro</p>
                <p>✅ 2000 трудоустроенных выпускников</p>
                <a href="">Узнать больше</a>
            </div>
        </details>
        <p class="stats-header">Я профи по {{ profession_dative }} уже на {{ percent_of_lessons_completed }}%</p>
        <img src="{{ url_for('data', path="images/calendar.png") }}" alt="" class="image-class">
        <p class="stats-header">Учусь уже {{ days_since_start }}</p>
        <p class="stat-lives"><strong>{{ lessons_completed }}</strong> уроков пройдено</p>
        <p class="stat-lives"><strong>{{ courseworks_completed }}</strong> курсовых сдано</p>
        <div class="info-box">
            <p>Для друзей <strong>{{ first_name }} {{ last_name }}</strong> доступна <strong>бесплатная карьерная
                консультация</strong>. Найдите себя и получайте крутые результаты как {{ first_name }}. </p>
            {#            <details class="go-details">#}
            {#                <summary class="go-summary">Покажите подробности!</summary>#}
            {#                <p>Мы готовы добавить вас в ближайшую группу обучения. Просто оставьте номер, мы позвоним и все#}
            {#                    расскажем.</p>#}
            <form id="phoneForm" class="phone-input">
                <input type="hidden" id="studentId" value="{{ student_id }}">
                <div class="input-group">
                    <input type="tel" id="phoneNumber" placeholder="(___) ___ __ __">
                    <button type="submit" class="go-button" id="send-phone">Погнали!</button>
                </div>
            </form>
            {#            </details>#}

            <div id="successPopup" class="popup">
                <div class="popup-content">
                    <img src="{{ url_for('data', path="images/check_mark.png") }}" alt="">
                    <h2>Готово!</h2>
                    <p>Мы получили заявку<br> и скоро позвоним!</p>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', path='js/intlTelInput.min.js') }}"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const input = document.querySelector("#phoneNumber");
                window.iti = window.intlTelInput(input, {
                    autoPlaceholder: "polite",
                    placeholderNumberType: "MOBILE",
                    nationalMode: false,
                    utilsScript: "{{ url_for('static', path='js/utils.js') }}"
                });
            });
        </script>
        <script src="{{ url_for('static', path='js/submit_phone.js') }}"></script>
    </main>
</div>
<script>
    function adjustFontSize() {
        const element = document.getElementById('top-h1');
        const maxWidth = 360;
        let fontSize = parseFloat(window.getComputedStyle(element).fontSize);

        while (element.scrollWidth > maxWidth && fontSize > 1) {
            fontSize -= 1;
            element.style.fontSize = `${fontSize}px`;
        }
    }
    window.onload = adjustFontSize;
    window.onresize = adjustFontSize;
</script>
</body>
</html>