<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Стиль обучения {{ first_name }} {{ last_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/intlTelInput.css') }}">
    {% include 'metrica.html' %}
    {% include 'gtm_head.html' %}
</head>
<body>
{% include 'gtm_body.html' %}
<div class="container">
    <header>
        <img src="{{ url_for('data', path="images/skypro.png") }}" alt="" class="logo">
    </header>
    <main>
        <div class="achievement-ref">
            <img class="achievement-ref-logo" src="{{ url_for('data', path=achievement_logo) }}" alt="">
        </div>
        <h1 id="top-h1" class="top-h1">{{ first_name.upper() }} {{ last_name.upper() }}</h1>
        <p class="stat-label-settings">Стиль обучения:<br>{{ achievement_title }}</p>
        <p class="text-percents"><strong>{{ profession|capitalize }}</strong><br>уже на
            <strong>{{ percent_of_lessons_completed }}%</strong></p>
        {% if profession_info %}
            <div class="profession-info-container">
                <p class="description-prof">{{ profession_info }}</p>
{#                <div class="career-change-section">#}
{#                    <p><strong>Думаете о смене работы?</strong><br>#}
{#                        За 10 минут подберём вам новую идеальную профессию.</p>#}
{#                    <button class="take-test-btn" id="take-test-top">Пройти тест</button>#}
{#                </div>#}
            </div>
        {% else %}
            <p></p>
        {% endif %}
        {% if skills %}
            {#            <img src="{{ url_for('data', path="images/check.png") }}" alt="" class="image-class">#}
            <div class="stats-container">
                <p class="stats-header">{{ first_name }} учится в Skypro и уже умеет:</p>
                <ul class="skills-list">
                    {% for skill in skills %}
                        <li>
                            <details class="skill-details-container">
                                <summary>
                                    <span class="skill-checkbox">✅</span>
                                    <span class="skill-content">
                                        <span class="skill-short">{{ skill.skill_short }}</span>
                                        <span class="skill-extended">Объясните понятно, зачем это?</span>
                                    </span>
                                </summary>
                                <p class="skill-details">{{ skill.skill_extended }}</p>
                            </details>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <details>
            <summary class="what-is-skypro" id="expand-skypro">Что такое Skypro?</summary>
            <div class="what-is-text">
                <p>Му учим IT-профессиям с нуля<br>с гарантией новой работы.</p>
                <p>✅ <strong>95%</strong> наших выпускников находят новую работу</p>
                <p>✅ <strong>72 000 ₽</strong> средняя зарплата выпускника Skypro</p>
                <p>✅ <strong>2500</strong> выпускников уже работают по новой профессии</p>
                <a href="">Узнать больше</a>
            </div>
        </details>
        <img src="{{ url_for('data', path="images/calendar.png") }}" alt="" class="image-class">
        <p class="stats-header">{{ first_name }} учится уже {{ days_since_start }}</p>
        <p class="stat-lives"><strong>{{ lessons_completed }}</strong> уроков пройдено</p>
        <p class="stat-lives"><strong>{{ courseworks_completed }}</strong> курсовых сдано</p>
    
        <!-- Include schedule stats -->
        {% include 'schedule_block.html' %}

        <!-- Include meme stats -->
        {% include 'meme_stats.html' %}

        <div class="profession-info-container">
            <p class="description-prof">А теперь давайте подберем вам новую идеальную профессию<br> за 10 минут?</p>
            <div class="take-test-section">
                <input type="hidden" id="studentId" value="{{ student_id }}">
                <button class="take-test-btn-down" id="take-test-bottom">Пройти тест</button>
            </div>
        </div>


        {#        <div class="info-box">#}
        {#            <p>#}
        {#                Для друзей {{ first_name }} {{ last_name }}#}
        {#            </p>#}
        {#            <h1 class="info-h1">Мы приготовили три подарка:</h1>#}
        {#            <div class="gift-list">#}
        {#                <div class="gift-item"></div>#}
        {#                <div class="gift-text">30-минутная карьерная консультация по смене работы и карьерному росту (за 0 руб)#}
        {#                </div>#}
        {#                <div class="gift-item"></div>#}
        {#                <div class="gift-text">Бесплатный курс по личным качествам: как разруливать конфликты на работе, всё#}
        {#                    успевать, не уставать, быстро учиться и всем нравиться (за 0 руб)#}
        {#                </div>#}
        {#                <div class="gift-item"></div>#}
        {#                <div class="gift-text">Скидка до 50 000 (20% от цены любого курса) для вас, если вы придете учиться.#}
        {#                    Потому, что друзья наших учеников – наши друзья. А для друзей у нас лучшие условия!#}
        {#                </div>#}
        {#            </div>#}
        {#            <form>#}
        {#                <input type="hidden" id="studentId" value="{{ student_id }}">#}
        {#                <div class="input-group">#}
        {#                    <button type="submit" class="go-button" id="get-gifts">Забрать все три подарка</button>#}
        {#                </div>#}
        {#            </form>#}
        {#        </div>#}
    </main>
</div>
<script defer>
    document.addEventListener('DOMContentLoaded', function () {
        const studentId = document.getElementById('studentId').value;
        const testButtons = document.querySelectorAll('#take-test-top, #take-test-bottom');

        testButtons.forEach(button => {
            button.addEventListener('click', function (e) {
                e.preventDefault();
                const url = `https://sky.pro/promo/proftest-new-more?utm_source=sharingstats&utm_medium=referral&utm_content=${studentId}&utm_campaign=viral`;

                ym(97943495, 'reachGoal', 'guest_follow_proftest', {}, function () {
                    window.open(url, '_blank');
                });
            });
        });
    });

    function adjustFontSize() {
        const element = document.getElementById('top-h1');
        const maxWidth = 360;
        let fontSize = parseFloat(window.getComputedStyle(element).fontSize);
        while (element.scrollWidth > maxWidth && fontSize > 1) {
            fontSize -= 1;
            element.style.fontSize = `${fontSize}px`;
        }
    }

    window.onload = adjustFontSize;
    window.onresize = adjustFontSize;
</script>
</body>
</html>