<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Стиль обучения {{ student_id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/intlTelInput.css') }}">
    {% include 'gtm_head.html' %}
    {% include 'metrica.html' %}
</head>
<body>
{% include 'gtm_body.html' %}
<div class="container">
    <header>
        <img src="{{ url_for('data', path="images/skypro.png") }}" alt="" class="logo">
    </header>
    <main>
        <div class="achievement-ref">
            <img class="achievement-ref-logo" src="{{ url_for('data', path=achievement_logo) }}" alt="">
        </div>
        <h1 id="top-h1" class="top-h1">{{ first_name.upper() }} {{ last_name.upper() }}</h1>
        <p class="text-percents"><strong>{{ profession|capitalize }}</strong><br>уже на
            <strong>{{ percent_of_lessons_completed }}%</strong></p>
        {% if profession_info %}
            <p class="description-down">{{ profession_info }}</p>
        {% else %}
            <p></p>
        {% endif %}
        {% if skills %}
            <img src="{{ url_for('data', path="images/check.png") }}" alt="" class="image-class">
            <div class="stats-container">
                <p class="stats-header">{{ first_name }} учится в Skypro и уже умеет:</p>
                <ul class="skills-list">
                    {% for skill in skills %}
                        <li>
                            <details class="skill-details-container">
                                <summary>
                                    <span class="skill-checkbox">✅</span>
                                    <span class="skill-content">
                                        <span class="skill-short">{{ skill.skill_short }}</span>
                                        <span class="skill-extended">Объясните понятно, зачем это?</span>
                                    </span>
                                </summary>
                                <p class="skill-details">{{ skill.skill_extended }}</p>
                            </details>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <details>
            <summary class="what-is-skypro" id="expand-skypro">Что такое Skypro?</summary>
            <div class="what-is-text">
                <p>Му учим IT-профессиям с нуля<br>с гарантией новой работы.</p>
                <p>✅ <strong>95%</strong> наших выпускников находят новую работу</p>
                <p>✅ <strong>72 000 ₽</strong> средняя зарплата выпускника Skypro</p>
                <p>✅ <strong>2500</strong> выпускников уже работают по новой профессии</p>
                <a href="">Узнать больше</a>
            </div>
        </details>
        <p class="stats-header">Я профи по {{ profession_dative }} уже на {{ percent_of_lessons_completed }}%</p>
        <img src="{{ url_for('data', path="images/calendar.png") }}" alt="" class="image-class">
        <p class="stats-header">Учусь уже {{ days_since_start }}</p>
        <p class="stat-lives"><strong>{{ lessons_completed }}</strong> уроков пройдено</p>
        <p class="stat-lives"><strong>{{ courseworks_completed }}</strong> курсовых сдано</p>
        <div class="info-box">
            <p>
                Для друзей {{ first_name }} {{ last_name }}
            </p>
            <h1 class="info-h1">Мы приготовили три подарка:</h1>
            <p class="present">Первый</p>
            <p class="present-text">
                Профессиональная консультация по смене работы. Узнайте, какая профессия вам подходит и сколько вы
                сможете зарабатывать через год.
            </p>
            <details>
                <summary class="present-summary" id="expand-consultation">
                    <span class="price">5000 ₽</span>
                    <span class="text">Забрать бесплатно</span>
                </summary>
                <div class="present-details">
                    <p>Достаточно номера, мы напишем или позвоним, чтобы назначить удобную дату консультации</p>
                    <form id="phoneForm1" class="phone-input">
                        <div class="input-group">
                            <input type="tel" id="phoneNumber1" placeholder="(___) ___ __ __">
                            <button type="submit" class="go-button">Получить консультацию</button>
                        </div>
                    </form>
                </div>
            </details>
            <p class="present">Второй</p>
            <p class="present-text">
                Топовый курс по софтс-скиллам: как разруливать конфликты на работе, все успевать, не уставать, быстро
                учиться и всем нравиться.
            </p>
            <details>
                <summary class="present-summary" id="expand-minicourse">
                    <span class="price">10000 ₽</span>
                    <span class="text">Забрать бесплатно</span>
                </summary>
                <div class="present-details">
                    <p>Оставьте нам номер телефона, и мы пришлем ссылку на мини-курс и инструкции.</p>
                    <form id="phoneForm2" class="phone-input">
                        <div class="input-group">
                            <input type="tel" id="phoneNumber2" placeholder="(___) ___ __ __">
                            <button type="submit" class="go-button">Получить мини-курс</button>
                        </div>
                    </form>
                </div>
            </details>
            <p class="present">Третий</p>
            <p class="present-text">
                Скидка до 50 000 (20% от цены любого курса) для вас, если вы придете учиться. Потому, что друзья наших
                учеников – наши друзья.<br>А для друзей у нас лучшие условия!
            </p>
            <details>
                <summary class="present-summary" id="expand-discount">
                    <span>Забрать скидку до 50000 ₽</span>
                </summary>
                <div class="present-details">
                    <p>Перейдите по ссылке и скидка применится!</p>
                    <form class="email-form">
                        <input type="hidden" id="studentId" value="{{ student_id }}">
                        <div class="input-group">
                            <button type="submit" class="go-button" id="choose-course">Выбрать курс</button>
                        </div>
                    </form>
                </div>
            </details>

            <div id="successPopup" class="popup"
                 data-success-image="{{ url_for('data', path='images/check_mark.png') }}"
                 data-error-image="{{ url_for('data', path='images/error_mark.png') }}">
                <div class="popup-content">
                    <img id="popupImage" src="{{ url_for('data', path='images/check_mark.png') }}" alt="Статус">
                    <h2 id="popupTitle">Готово!</h2>
                    <p id="popupMessage"></p>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', path='js/intlTelInput.min.js') }}" defer></script>
        <script defer>
            let UTILS_SCRIPT_PATH = "{{ url_for('static', path='js/utils.js') }}";

            document.addEventListener('DOMContentLoaded', function () {
                const input1 = document.querySelector("#phoneNumber1");
                const input2 = document.querySelector("#phoneNumber2");
                const iti_options = {
                    autoPlaceholder: "polite",
                    placeholderNumberType: "MOBILE",
                    nationalMode: false,
                    utilsScript: UTILS_SCRIPT_PATH,
                    initialCountry: "ru"  // добавим это для установки начальной страны
                };
                window.iti1 = window.intlTelInput(input1, iti_options);
                window.iti2 = window.intlTelInput(input2, iti_options);
            });
        </script>
        <script src="{{ url_for('static', path='js/submit_to_crm.js') }}" defer></script>
    </main>
</div>
<script>
    function adjustFontSize() {
        const element = document.getElementById('top-h1');
        const maxWidth = 360;
        let fontSize = parseFloat(window.getComputedStyle(element).fontSize);

        while (element.scrollWidth > maxWidth && fontSize > 1) {
            fontSize -= 1;
            element.style.fontSize = `${fontSize}px`;
        }
    }

    window.onload = adjustFontSize;
    window.onresize = adjustFontSize;
</script>
</body>
</html>