<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skypro - Приглашение на консультацию</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>
<body>
<div class="container-share">
    <header>
        <img src="{{ url_for('data', path=logo_image) }}" alt="Skypro logo" class="logo">
    </header>
    <main>
        <div class="achievement">
            <img class="achievement-logo" src="{{ url_for('data', path=achievement_image) }}" alt="Достижение">
            {#                <img src="fox-character.png" alt="Лис в очках и толстовке" class="character-image">#}
        </div>
        <div class="name-badge">
            <span>{{ full_name }}</span>
        </div>
        <h1 class="status">{{ title }}</h1>
        <p class="status-description">
            {{ description }}
        </p>
        <div class="invitation">
            <p>Для друзей {{ full_name }} доступна бесплатная карьерная консультация в Sky.pro.</p>
            <p>Запишитесь прямо сейчас, найдите себя и получайте крутые результаты как {{ first_name }}.</p>
        </div>
        <form class="signup-form" action="/sent" method="post">
            <label>
                <input type="tel" placeholder="Телефон" name="phone" required>
            </label>
            <button type="submit">Записаться</button>
        </form>
    </main>
</div>
</body>
</html>