<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skypro - Моя статистика</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">

    {% include 'metrica.html' %}
</head>
<body>
<div class="container">
    <header>
        <img src="{{ url_for('data', path="images/skypro.png") }}" alt="" class="logo">
    </header>
    <main>
        <h1 class="top-h1">МОЙ СТИЛЬ<br>ОБУЧЕНИЯ:<br>{{ title.upper() }}</h1>
        <div class="achievement">
            <img class="achievement-logo" src="{{ url_for('data', path=achievement_logo) }}" alt="">
        </div>
        <p class="description">{{ description|safe }}</p>
        <div class="button-block">
            <button class="share-button" onclick="location.href='#share'">Поделиться в соцсетях</button>
        </div>
        <p class="text-percents">Я уже <strong>{{ profession }}</strong> на</p>
        <p class="percents">{{ percent_of_lessons_completed }}%</p>
        <img src="{{ url_for('data', path="images/calendar.png") }}" alt="" class="image-class">
        <p class="stats-header">Я учусь уже {{ days_since_start }}</p>
        <p class="stat-lives"><strong>{{ lessons_completed }}</strong> уроков пройдено</p>
        <p class="stat-lives"><strong>{{ courseworks_completed }}</strong> курсовых сдано</p>
        {% if "нет навыков" not in skills[0] %}
            <img src="{{ url_for('data', path="images/check.png") }}" alt="" class="image-class">
            <div class="stats-container">
                <p class="stats-header">Я уже умею:</p>
                <ul class="skills-list">
                    {% for skill in skills %}
                        <li>✅ {{ skill }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <img src="{{ url_for('data', path="images/views.png") }}" alt="">
        <div class="stats-container">
            <p class="stats-header">Просмотры лайвов</p>
            <div class="stats-details">
                <div class="stat-item">
                    <span class="stat-lives"><strong>{{ lives_visited }}</strong></span>
                    <span class="stat-label">в эфире</span>
                </div>
                <div class="stat-item">
                    <span class="stat-lives"><strong>{{ lives_watched_in_record }}</strong></span>
                    <span class="stat-label"> в записи</span>
                </div>
            </div>
            <br>
        </div>
        <img style="margin-top: -20px;" src="{{ url_for('data', path="images/schedule.png") }}" alt=""
             class="image-class">
        <div class="stats-container">
            <p class="stats-header">Мой график</p>
            <p class="stat-label">{{ homework_morning }} утром</p>
            <p class="stat-label">{{ homework_night }} ночью</p>
            <p class="stat-label">{{ homework_weekend }} на выходных</p>
            <p class="stat-label">{{ homework_last_6 }} в последний момент</p>
            <p class="stat-label-settings">* Посчитали на основании твоего часового пояса. <a
                    href="https://student.skyeng.ru/profile?tab=settings" target="_blank">Настроить</a></p>
        </div>
        <div class="stats-container">
            <img src="{{ url_for('data', path="images/questions.png") }}" alt="" class="image-class">
            <p class="stat-label">{{ questions_number }} наставникам</p>
            <p class="stat-label">{{ rates_created }} наставников</p>
        </div>
        <div class="get-container">
            <p style="font-size: 18px;"><strong>Это было круто!</strong><br><br>Поделись статистикой в соцсетях, получи
                индивидуальное занятие с наставником и <strong>15 900 ₽, если друг придет учиться в Skypro</strong></p>
            <details>
                <summary class="how-to-get">Узнать как всё это получить</summary>
                <p style="font-size: 18px; margin-top: 10px;">Поделись статистикой в ВК, Телеграме (сторис или личный
                    канал),
                    Нельзяграме и прими участие в розыгрыше призов.<br><br>
                    Если посмотрев твою статистику, твои друзья и знакомые придут учиться,
                    ты получишь 15 900 ₽ за каждого</p>
            </details>
            <details id="share">
                <summary class="share-summary">Поделиться в соцсетях</summary>
                <div class="share-options">
                    <details class="share-item" onclick="changeStyle(event)">
                        <summary class="details">Пост в ВК</summary>
                        <div class="share-content">
                            <p>Скопируйте ссылку, опубликуйте у себя на странице. Красивая карточка появится сама</p>
                            <p>{{ base_url }}/vk/{{ student_id }}
                                <span class="copy-icon"
                                      onclick="copyToClipboard('{{ base_url }}/vk/{{ student_id }}')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-copy" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd"
                                            d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                                    </svg>
                                </span>
                            </p>
                        </div>
                    </details>

                    <details class="share-item" onclick="changeStyle(event)">
                        <summary class="details">Истории в ВК</summary>
                        <div class="share-content">
                            <p>Сохраните карточку с итогами</p>
                            <a href="{{ url_for('get_image', student_id=student_id) }}"
                               class="save-button" download>Сохранить</a>
                            <p>Сделайте новую историю и загрузите карточку. Добавьте
                                ссылку {{ base_url }}/s/{{ student_id }}
                                <span class="copy-icon"
                                      onclick="copyToClipboard('{{ base_url }}/s/{{ student_id }}')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-copy" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd"
                                            d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                                    </svg>
                                </span>
                            </p>
                        </div>
                    </details>

                    <details class="share-item" onclick="changeStyle(event)">
                        <summary class="details">Ваш телеграм канал</summary>
                        <div class="share-content">
                            <p>Скопируйте текст, опубликуйте у себя в канале. Красивая карточка появится сама</p>
                            <p>Сейчас я учусь в Skypro на профессии {{ profession }}. Сегодня хочу поделиться с вами
                                статистикой {{ base_url }}/h/{{ student_id }}
                                <span class="copy-icon"
                                      onclick="copyToClipboard('Сейчас я учусь в Skypro на профессии {{ profession }}. Сегодня хочу поделиться с вами статистикой {{ base_url }}/h/{{ student_id }}')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-copy" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd"
                                            d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                                    </svg>
                                </span>
                            </p>
                        </div>
                    </details>

                    <details class="share-item" onclick="changeStyle(event)">
                        <summary class="details">История в Нельзяграме</summary>
                        <div class="share-content">
                            <p>Сохраните карточку с итогами</p>
                            <a href="{{ url_for('get_image', student_id=student_id) }}"
                               class="save-button" download>Сохранить</a>
                            <p>Создайте новую историю</p>
                            <p>Добавьте наклейку-ссылку {{ base_url }}/s/{{ student_id }}
                                <span class="copy-icon"
                                      onclick="copyToClipboard('{{ base_url }}/s/{{ student_id }}')">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-copy" viewBox="0 0 16 16">
                                      <path fill-rule="evenodd"
                                            d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                                    </svg>
                                </span>
                            </p>
                        </div>
                    </details>

                    <details class="share-item" onclick="changeStyle(event)">
                        <summary class="details">Телеграм сторис (нужен премиум)</summary>
                        <div class="share-content">
                            <p>Перейдите по <a href="{{ base_url }}/tg/{{ student_id }}">этой ссылке</a> в
                                канал, где опубликована история с вашей статистикой. Репостните её</p>
                        </div>
                    </details>
                </div>
            </details>
        </div>
        <div class="stats-container">
            <p class="share-text">Поделились? Присылайте<br>ссылку и ждите подарок от нас!</p>
            <form id="urlForm">
                <input type="hidden" id="studentId" value="{{ student_id }}">
                <input type="hidden" id="studentName" value="{{ student_name }}">
                <input type="hidden" id="studentProfession" value="{{ profession }}">
                <div class="input-group">
                    <input type="text" placeholder="Ссылка" required>
                </div>
                <button type="submit" class="send-url-button">Ловите ссылку</button>
            </form>
        </div>
        <div id="successPopup" class="popup">
            <div class="popup-content">
                <img src="{{ url_for('data', path="images/check_mark.png") }}" alt="">
                <h2>Готово!</h2>
                <p>Мы получили вашу ссылку<br> и скоро отправим подарок!</p>
            </div>
        </div>
    </main>
</div>
<script src="{{ url_for('static', path='js/submit_url.js') }}"></script>
<script>
    function copyToClipboard(text) {
        navigator.clipboard.writeText(text).then(function () {
            alert('Ссылка скопирована!');
        }, function (err) {
            console.error('Не удалось скопировать текст: ', err);
        });
    }

    function changeStyle(event) {
        if (event.target.tagName.toLowerCase() === 'summary') {
            event.target.classList.toggle('rotate');
        }
    }
</script>
</body>
</html>