@font-face {
    font-family: 'StratosSkyengWeb-Regular';
    src: url('../fonts/stratosskyengweb-regular.woff2') format('woff2'),
    url('../fonts/stratosskyengweb-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: StratosSkyengWeb-Regular, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 320px;
    width: 100%;
}

.achievement-block {
    margin-bottom: 20px;
}

.achievement-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.stats-block {
    text-align: left;
    margin-bottom: 20px;
}

.skills-block {
    margin-bottom: 0;
}

.button-block {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.download-button:hover {
    background-color: #45a049;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    color: #555;
    font-size: 16px;
}

li:last-child {
    margin-bottom: 0;
}

.container-share {
    max-width: 350px;
    margin: 0 auto;
    background-color: #924CF6;
    color: white;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

.logo {
    display: block;
    margin: 0 auto 10px;
    width: 150px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo-header {
    height: 40px;
    width: auto;
    vertical-align: middle;
}

.name {
    background-color: #3A374A;
    padding: 5px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 18px;
    vertical-align: middle;
}

.achievement {
    display: grid;
    place-items: center;
    position: relative;
    text-align: center;
    justify-content: center;
    margin-top: -60px;
}

.achievement-ref {
    display: grid;
    place-items: center;
    position: relative;
    text-align: center;
    justify-content: center;
    margin-bottom: -20px;
}

.achievement-logo {
    max-width: 100%;
    height: 350px;
}

.name-badge {
    position: absolute;
    margin-top: -80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #444257;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    white-space: nowrap;
    z-index: 1;
}

.status {
    font-size: 32px;
    color: white;
    margin-top: -20px;
    margin-bottom: 5px;
}

.status-description {
    background-color: #8174e3;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.invitation {
    color: white;
    text-align: left;
}

.signup-form {
    width: 100%;
    box-sizing: border-box;
}

.signup-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: bold;
}

.signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #a3ff57;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.share-button {
    background-color: #bbec30;
    border: none;
    color: #000000;
    width: 100%;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    border-radius: 12px;
}

.get-container {
    background-color: #322963;
    color: white;
    padding: 15px;
    border-radius: 10px;
}

.share-summary {
    cursor: pointer;
    padding: 10px;
    background-color: #bbec30;
    color: #000000;
    border-radius: 5px;
    margin-top: 10px;
}

.how-to-get {
    cursor: pointer;
    padding: 10px;
    background-color: #924CF6;
    border-radius: 5px;
}

.what-is-skypro {
    cursor: pointer;
    padding: 10px;
    background-color: #322963;
    border-radius: 12px;
}

.description-up {
    font-size: 20px;
    padding: 10px;
    margin-top: -20px;
    margin-bottom: 10px;
}

.description-down {
    background-color: RGBA(50, 41, 99, 0.2);
    font-size: 18px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.description {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.percents {
    margin: 0;
    font-size: 90px;
    font-weight: bolder;
}

.container_images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    position: relative;
    margin-top: 10px;
    margin-bottom: -60px;
}

.image-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.image-wrapper img {
    max-width: 100%;
    height: 100%;
}

.image-class {
    margin-bottom: -10px;
}

.stats-container {
    padding: 10px;
    text-align: center;
    margin-top: -20px;
}

.stats-header {
    font-size: 28px;
    font-weight: bolder;
}

.stats-details {
    display: flex;
    justify-content: space-between;
}

.stat-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-lives {
    font-size: 24px;
}

.stat-label {
    font-size: 20px;
}

.copy-icon {
    cursor: pointer;
    margin-left: 5px;
}

.copy-icon svg {
    vertical-align: middle;
}

.share-options {
    margin-top: 10px;
}

.share-item {
    margin-bottom: 10px;
    border-radius: 5px;
}

.share-item summary {
    background-color: #924CF6;
    padding: 10px;
    cursor: pointer;
}

.share-content {
    background-color: #924CF6;
    padding: 10px;
    text-align: left;
    overflow-wrap: break-word;
}

.save-button {
    background-color: #bbec30;
    color: #000000;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}

.copy-icon {
    cursor: pointer;
    margin-left: 5px;
}

.copy-icon svg {
    vertical-align: middle;
}

a {
    color: #bbec30;
}

.info-box {
    background-color: #322963;
    color: white;
    border-radius: 10px;
    padding: 20px;
    font-family: StratosSkyengWeb-Regular, sans-serif;
}

.feature {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.feature img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.go-details {
    margin-top: 20px;
}

.go-summary {
    background-color: #bbec30;
    color: #322963;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.phone-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.input-group input[type="tel"] {
    flex: 1;
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.input-group .iti {
    width: 100%;
}

.go-button {
    background-color: #bbec30;
    color: #322963;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: fit-content;
    align-self: center;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #924CF6;
    width: 390px;
    height: 390px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.popup-content img {
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
}

.popup-content h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

.popup-content p {
    font-size: 22px;
}
